# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.mak
*.oem3
*.xs
*.bld
Release/collector_CC1310_LAUNCHXL_tirtos_ccs_linkInfo.xml
*.mk
*.mk
Release/collector_CC1310_LAUNCHXL_tirtos_ccs_linkInfo.xml
Release/configPkg/config.bld
Release/configPkg/package/cfg/app_pem3.cfg
Release/configPkg/package/cfg/app_pem3.mak
Release/configPkg/package/cfg/app_pem3.oem3
Release/configPkg/package/cfg/app_pem3.rov.xs
Release/makefile
Release/subdir_rules.mk
src/sysbios/rom_sysbios.aem3
